/* Openlayers fixes */

.ol-control { clear: both; pointer-events: auto; }

.ol-control button {
  color: inherit;
  border-radius: inherit;
}

.webmap-control-container .ol-control {
  position: relative;
  top: inherit;
  left: inherit;
  bottom: inherit;
  right: inherit;
}

.webmap-control-container .ol-attribution {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 !important;
  bottom: inherit;
  right: inherit;
  white-space: nowrap;
  max-width: 100%
}

.webmap-control-container .ol-attribution.ol-uncollapsible {
  bottom: inherit;
  right: inherit;
}

.webmap-ctrl-left .openlayers-ctrl .webmap-ctrl {
  height: 100%;
}







