{
  // "env": {
  //   "jest/globals": true
  // },
  "extends": [
    // "plugin:jest/recommended",
    // "plugin:jest/style",
    "./packages/eslint-config/index.js"
  ]
  // "plugins": [
  //   "jest"
  // ],
  // "rules": {
  //   "jest/no-export": 0
  // }
}
