.webmap-ctrl-left,
.webmap-ctrl-right,
.webmap-ctrl-top-left,
.webmap-ctrl-top-right,
.webmap-ctrl-bottom-left,
.webmap-ctrl-bottom-right {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.webmap-ctrl-left, .webmap-ctrl-right {
    height: 100%;
}

.webmap-ctrl-left {
    padding-right: 0;
}

.webmap-ctrl-right {
    padding-left: 0;
}

.webmap-ctrl-top-left {
  top: 0;
  left: 0;
}

.webmap-ctrl-top-right {
  top: 0;
  right: 0;
}

.webmap-ctrl-bottom-left {
  bottom: 0;
  left: 0;
}

.webmap-ctrl-bottom-right {
  right: 0;
  bottom: 0;
}

.webmap-ctrl,
.webmap-ctrl-wrapper {
  clear: both;
  pointer-events: auto;
  /* workaround for a Safari bug https://github.com/mapbox/mapbox-gl-js/issues/8185 */
  transform: translate(0, 0);
}

.webmap-ctrl-top-left > .webmap-ctrl,
.webmap-ctrl-top-left > .webmap-ctrl-wrapper {
  float: left;
}

.webmap-ctrl-top-right > .webmap-ctrl,
.webmap-ctrl-top-right > .webmap-ctrl-wrapper {
  float: right;
}

.webmap-ctrl-bottom-left > .webmap-ctrl,
.webmap-ctrl-bottom-left > .webmap-ctrl-wrapper {
  float: left;
}

.webmap-ctrl-bottom-right > .webmap-ctrl,
.webmap-ctrl-bottom-right > .webmap-ctrl-wrapper {
  float: right;
}

.webmap-ctrl-top-left > .webmap-ctrl-margin {
  margin: 10px 0 0 10px;
}

.webmap-ctrl-top-right > .webmap-ctrl-margin {
  margin: 10px 10px 0 0;
}

.webmap-ctrl-bottom-left > .webmap-ctrl-margin {
  margin: 0 0 10px 10px;
}

.webmap-ctrl-bottom-right > .webmap-ctrl-margin {
  margin: 0 10px 10px 0;
}

.webmap-ctrl-group {
  border-radius: 4px;
  background: #fff;
}

.webmap-ctrl .webmap-ctrl-wrapper {
  clear: none;
  float: none;
  margin: 0;
}

.webmap-ctrl .webmap-ctrl-wrapper > .webmap-ctrl {
  clear: none;
  float: none;
  margin: 0 !important;
}

.webmap-ctrl > .webmap-ctrl {
  clear: none;
  float: none;
  margin: 0 !important;
}

.webmap-ctrl-vertical,
.webmap-ctrl-horizontal {
  display: flex;
}

.webmap-ctrl-vertical {
  flex-direction: column;
  align-items: var(--webmap-ctrl-align, flex-start);
}

.webmap-ctrl-horizontal {
  flex-direction: row;
  align-items: var(--webmap-ctrl-align, stretch);
}

.webmap-ctrl:not(.webmap-ctrl-group).webmap-ctrl-vertical,
.webmap-ctrl:not(.webmap-ctrl-group).webmap-ctrl-horizontal {
  gap: var(--webmap-ctrl-gap, 0);
}

.webmap-ctrl-gapless:not(.webmap-ctrl-group) {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
}

.webmap-ctrl-gapless:not(.webmap-ctrl-group):not(:empty) {
  box-shadow: none;
}

.webmap-ctrl-gapless > .webmap-ctrl-group,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .webmap-ctrl-group {
  border-radius: 0;
  border: 0 !important;
  box-shadow: none !important;
}

.webmap-ctrl-gapless > .webmap-ctrl,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .webmap-ctrl,
.webmap-ctrl-gapless > .leaflet-bar,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .leaflet-bar,
.webmap-ctrl-gapless > .maplibregl-ctrl-group,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .maplibregl-ctrl-group,
.webmap-ctrl-gapless > .ol-control,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .ol-control {
  border: 0 !important;
  box-shadow: none !important;
}

.webmap-ctrl-gapless.webmap-ctrl-horizontal > .webmap-ctrl-group:first-child,
.webmap-ctrl-gapless.webmap-ctrl-horizontal > .webmap-ctrl-wrapper:first-child > .webmap-ctrl-group {
  border-radius: 4px 0 0 4px;
}

.webmap-ctrl-gapless.webmap-ctrl-horizontal > .webmap-ctrl-group:last-child,
.webmap-ctrl-gapless.webmap-ctrl-horizontal > .webmap-ctrl-wrapper:last-child > .webmap-ctrl-group {
  border-radius: 0 4px 4px 0;
}

.webmap-ctrl-gapless.webmap-ctrl-vertical > .webmap-ctrl-group:first-child,
.webmap-ctrl-gapless.webmap-ctrl-vertical > .webmap-ctrl-wrapper:first-child > .webmap-ctrl-group {
  border-radius: 4px 4px 0 0;
}

.webmap-ctrl-gapless.webmap-ctrl-vertical > .webmap-ctrl-group:last-child,
.webmap-ctrl-gapless.webmap-ctrl-vertical > .webmap-ctrl-wrapper:last-child > .webmap-ctrl-group {
  border-radius: 0 0 4px 4px;
}

.webmap-ctrl-gapless > .webmap-ctrl-group:only-child,
.webmap-ctrl-gapless > .webmap-ctrl-wrapper:only-child > .webmap-ctrl-group {
  border-radius: 4px;
}

.webmap-ctrl-vertical > .webmap-ctrl-wrapper,
.webmap-ctrl-horizontal > .webmap-ctrl-wrapper {
  display: flex;
}

.webmap-ctrl-group:not(:empty) {
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

@media (-ms-high-contrast: active) {
  .webmap-ctrl-group:not(:empty) {
    box-shadow: 0 0 0 2px ButtonText;
  }

  .webmap-ctrl-gapless:not(.webmap-ctrl-group) {
    border-color: ButtonText;
  }
}

.webmap-ctrl-gapless > .webmap-ctrl-group:not(:empty),
.webmap-ctrl-gapless > .webmap-ctrl-wrapper > .webmap-ctrl-group:not(:empty) {
  border: 0 !important;
  box-shadow: none !important;
}

.webmap-ctrl-group button {
  width: 29px;
  height: 29px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
}

.webmap-ctrl-button {
  line-height: inherit !important;
  font-weight: normal !important;
}

.webmap-ctrl-group button + button {
  border-top: 1px solid #ddd;
}

.webmap-ctrl-group.webmap-ctrl-horizontal > button + button {
  border-top: 0;
  border-left: 1px solid #ddd;
}

.webmap-ctrl-gapless .webmap-ctrl-group button + button,
.webmap-ctrl-group.webmap-ctrl-gapless button + button {
  border-top: 0 !important;
  border-left: 0 !important;
}

.webmap-ctrl-gapless .webmap-ctrl-group button {
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.webmap-ctrl button .webmap-ctrl-icon {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (-ms-high-contrast: active) {
  .webmap-ctrl-icon {
    background-color: transparent;
  }
  .webmap-ctrl-group button + button {
    border-top: 1px solid ButtonText;
  }
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=140562 */

.webmap-ctrl button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.webmap-ctrl-group button:focus {
  box-shadow: 0 0 2px 2px rgba(0, 150, 255, 1);
}

.webmap-ctrl button:disabled {
  cursor: not-allowed;
}

.webmap-ctrl button:disabled .webmap-ctrl-icon {
  opacity: 0.25;
}

.webmap-ctrl button:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.webmap-ctrl-group button:focus:focus-visible {
  box-shadow: 0 0 2px 2px rgba(0, 150, 255, 1);
}

.webmap-ctrl-group button:focus:not(:focus-visible) {
  box-shadow: none;
}

.webmap-ctrl-group button:focus:first-child {
  border-radius: 4px 4px 0 0;
}

.webmap-ctrl-group button:focus:last-child {
  border-radius: 0 0 4px 4px;
}

.webmap-ctrl-group button:focus:only-child {
  border-radius: inherit;
}

.webmap-ctrl button.webmap-ctrl-zoom-out .webmap-ctrl-icon {
  background-image: url('svg/ctrl-zoom-out.svg');
}

.webmap-ctrl button.webmap-ctrl-zoom-in .webmap-ctrl-icon {
  background-image: url('svg/ctrl-zoom-in.svg');
}

@media (-ms-high-contrast: active) {
  .webmap-ctrl button.webmap-ctrl-zoom-out .webmap-ctrl-icon {
    background-image: url('svg/ctrl-zoom-out.svg');
  }
  .webmap-ctrl button.webmap-ctrl-zoom-in .webmap-ctrl-icon {
    background-image: url('svg/ctrl-zoom-in.svg');
  }
}

@media (-ms-high-contrast: black-on-white) {
  .webmap-ctrl button.webmap-ctrl-zoom-out .webmap-ctrl-icon {
    background-image: url('svg/ctrl-zoom-out.svg');
  }
  .webmap-ctrl button.webmap-ctrl-zoom-in .webmap-ctrl-icon {
    background-image: url('svg/ctrl-zoom-in.svg');
  }
}

/* stylelint-disable-next-line selector-class-pattern */
